*{
    background-color: #ed631e;
}
h2{
    color: #0b5dd0;
}
#bgline{
    color: #074091;
    background-color: #2def18;
k{
    color: #ea330f;
    background-color: #2def18;
}
}
h5{
    color: #0b5dd0;
}
p{
    color: #f6f6f8;
    font-size: 20px;
}
#para{
    color: #12be3d;
}
t{
    color: black;
    font-size: 27px;
}
f{
    color: black;
    font-size: 19px;
}
ul{
    color: white;
}
a{
    background-color: #e0ef0c;
}
i{
    background-color: #0804e6;
}
l{
    color: #0804e6;
}
g{
    color: #ea330f;
}
